.navbar{
  background-color: #2f4455;
}
.navbar-nav{
  padding-left: 2%;
}
a{
  color: white;
  text-decoration: none;
}
.l:hover {
  color: white;
  text-decoration: none;
}
.display1{
  color:black;
}
body{
  color: white;
  background-color: #28afa8;
}
.nav-item{
  padding-left: 40px;
}
.quote{
  border-style: solid;
  border-radius: 50px;
  border-color: #28afa8;
  background-color: #2f4455;
  color: white;
}
#button{
  margin-right: 10px;
  margin-left: 30px;

}
#heading{
  width: 30%;
  padding-top: 200px;

}
#h{
  text-align: center;
}
.b{
  text-align: left;
  width: 80%;
}
.row-first{
  display: flex;
}
.col-second
{
  margin-top: 30px;
}
.hr2{
  width: 20%;
  margin-left: 40%;
  margin-bottom: 80px;
}
.hr1{
  margin-top: 70px;
  margin-bottom: 70px;
  border: dotted black 6px;
  border-bottom: none;
  width: 4%;
}
.doctor{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: solid;
  margin-right: 30px;
  margin-left: 30px;
}
.row-1{
  width: 60%;
  margin: auto;

}
.row-2{
  width: 70%;
  margin: auto;

}
.display3{
  display: inline;
  margin-right: 20px;
  margin-left: 40px;
}
.footer{
  background-color: black;
  color: white;
  padding-top: 10px;
}
.end{
  width: 50%;
  margin-left: 30%;
}
.justify-content-center{
  padding-right: 20%;
}
.col-7{
  margin-left: 80px;
}
.slot4{
  text-align: center;
  margin: auto;
  width: 50%;
}
.complaint{
  background-color: black;
}
*{
  font-family: 'Anton', sans-serif;
font-family: 'Open Sans', sans-serif;
}
 .bottom-image{
    position: absolute;
    right: -10px;
    bottom: 0;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    border: solid;
}
@media screen and (max-width:500px) {
  img.bottom-image{
    height: 100px;
    width: 100px;
    bottom: 100px;
  }
  .company-name{
    font-size: 30px;
  }
  .navbar{
    width: 100%;
  }
.row-first{
  display: inline;
}
.b{
  padding-right: 0;
  width: 100%;
  text-align: center;

}
.container{
  padding-right: 0;
}
video{
  margin-top: 0;
  padding-right: 15px;
}
}
@media screen and (min-width:501px) and (max-width:1200px){
  img.bottom-image{
    height: 300px;
    width: 300px;
    bottom: 150px;
    }
    .display3{
     visibility: hidden;
    }
    .doctor{
      margin-right: 10px;
      margin-left: 10px;

    }

    .row-1{
      width: 80%;
      margin: auto;

    }
    .row-first{
      padding-left: 15%;
      width: 100%;
      text-align: center;
      display: block;
    }
    video{
      margin-right:20%;
    }
}
